h1 {
    margin: 0 auto;
    font-family: "Titillium-Web", sans-serif;
    font-size: 30vh;
    letter-spacing: 1vw;
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    transform: translateY(+20%);
    color: white;
    background: url("https://thumbs.dreamstime.com/b/baked-beans-tomato-sauce-background-pattern-top-view-145493651.jpg");
    background-size: auto 200%;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
  }
  h1:nth-child(2) {
    top: 50vh;
  }
  @keyframes shine {
    from {
      background-position: center 0;
    }
    to {
      background-position: center 200%;
    }
  }