body {
  /*background-color: #70b4eb;*/
  font-family: "Titillium Web", sans-serif;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background-image:  url('https://images.unsplash.com/photo-1527100673774-cce25eafaf7f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1ODQzNTc1OA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080');
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
html {
  scroll-behavior: smooth;
}
#sdown {
  margin-top: 100%;
  padding-bottom: 25%;
 } 
p {
  text-align: center;
}
.h1 {
  text-align: center;
  
}
.headerDiv {
  text-align: right;
  background-color: #2B7097;
  border: 2px outset black;
  padding-top: 30px;
  position:fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
#footer {
  text-align: right;
  background-color: #ced4d4;
  border: 2px outset black;
  padding-top: 30px;
  position:fixed;
  width: 100%;
  top: 0;
}
.spacerDiv {
text-align: center;
}
.pageSwitch-btn {
background-color: #57666d;
color: white;
padding: 5px 10px;
border: 2px outset #1d2022;
text-align:right;
position:relative;
}
.higher {
  transform: translate(0, 50px);
}
.heading1 {
  font-size: 10vw;
  text-shadow: 4px 4px 0px white;
  mix-blend-mode: screen;
  animation: fadeIn 2.5s linear forwards;
  color: 010203;
}
