body {
  background-color: #70b4eb;
  font-family: "Titillium Web", sans-serif;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  /* background: 
    radial-gradient(circle at bottom, #fff -30%, transparent 70%),
    linear-gradient(to right, #134a8e, #00b6f1 50%),
    #fff; */
  background: radial-gradient(circle at bottom, #fff, transparent 80%), linear-gradient(to top, dodgerblue 0%, transparent 70%), linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4) 70%), #1e90ff;
  -webkit-animation: bg 30s infinite;
          animation: bg 30s infinite;
  background-attachment: fixed;

  
}

.h1 {
  text-align: center;
}

.headerDiv {
  text-align: right;
  background-color: #6497b1;
  border: 2px inset black;
  padding-top: 30px;
}

.spacerDiv {
text-align: center;
}
.spacerDivButSlightlySmallerBecauseSomethingIsWrongWithTheTitleAndINeedASpacerDivButSlightlySmaller {
  text-align: center;
}



.pageSwitch-btn {
background-color: #035b96;
color: white;
padding: 5px 10px;
border: 2px outset black;
}

.higher {
  transform: translate(0, 50px);
}

.customAlert {
  display: none;
  position: fixed;
  max-width: 25%;
  min-width: 250px !important;
  min-height: 20%;
  height: 200px;
  bottom: 5px;
  right: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-left: -12.5%;
  margin-top: -5.2%;
  background: #FF0000;
  border: 3px inset black;
  
}


#gradient
{
width: 100%;
height: 800px;
padding: 0px;
margin: 0px;
}

@-webkit-keyframes bg {
  0%, 100% {
    background-color: #031f4b;
  }
  25% {
    background-color: #04396c;
  }
  50% {
    background-color: #035b96;
  }
  75% {
    background-color: #6497b1;
  }
}

@keyframes bg {
  0%, 100% {
    background-color: #031f4b;
  }
  25% {
    background-color: #04396c;
  }
  50% {
    background-color: #035b96;
  }
  75% {
    background-color: #6497b1;
  }
}
