

.no-tw html {
	box-sizing: content-box;
}

.no-tw body {
	margin: 8px;
	line-height: normal;
}

.no-tw p {
	margin: 1em 0;
}

.no-tw blockquote,
.no-tw figure {
	margin: 1em 40px;
}

.no-tw q {
	quotes: "“" "”" "‘" "’";

	&:before {
		content: open-quote;
	}

	&:after {
		content: close-quote;
	}
}

.no-tw hr {
	border: 1px inset;
	box-sizing: border-box;
	margin: 0.5em auto;
}

.no-tw h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0.67em 0;
}

.no-tw h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.83em 0;
}

.no-tw h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin: 1em 0;
}

.no-tw h4 {
	font-size: 1.00em;
	font-weight: bold;
	margin: 1.33em 0;
}

.no-tw h5 {
	font-size: 0.83em;
	font-weight: bold;
	margin: 1.67em 0;
}

.no-tw h6 {
	font-size: 0.67em;
	font-weight: bold;
	margin: 2.33em 0;
}
.no-tw code {
    background-color:rgb(192,192,192, 0.3);
    border-radius: 5px;
    color: white;
    padding: 2px

}